.btn {
  border-radius: .25rem;
  font-family: 'source-sans-pro-regular', sans-serif;
  font-size: 14px;
  padding: .625rem 1.438rem;
  &.btn-success,
  &.btn-warning {
    color: color(white);
  }
  &.btn-lg {
    padding: 1rem 2.2rem;
  }
  &.btn-sm {
    padding: .25rem .5rem;
  }
  .btn-label {
    &:before {
      font-size: 1.5rem;
      line-height: 5px;
      vertical-align: middle;
    }
    &.btn-label-left {
      margin-right: 5px;
    }
    &.btn-label-right {
      margin-left: 5px;
    }
  }
  &.btn-light {
    @include button-variant(#acb7bf, #acb7bf);
    color: color(white);
    &:hover {
      color: color(white);
    }
  }
  &.btn-outline-light {
    @include button-outline-variant(#acb7bf, color(white));
  }
}

.btn-demo {
  .btn {
    margin-top: .5rem;
  }
}

.btn-toolbar {
  .btn {
    border-radius: 0;
    padding: .625rem 1rem;
    + .btn {
      border-left: 0;
    }
    &:first-child {
      border-radius: .25rem 0 0 .25rem;
    }
    &:last-child {
      border-radius: 0 .25rem .25rem 0;
    }
  }
}

/*social buttons*/

@each $color, $value in $social-colors {
  .btn-#{$color} {
    @include social-button(social-color($color));
  }
}
