.card {
  border: 0;
  border-radius: 5px;
  box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.08);
  .card-header {
    border-bottom: 1px solid $border-color;
  }
  .card-body {
    padding: 1.875rem;
    + .card-body {
      padding-top: 0;
    }
  }
  .card-title {
    margin-bottom: 1.5rem;
  }
  &.card-social {
    line-height: 1;
    .card-body {
      padding: 3.125rem 1.875rem;
    }
    color: color(white);
    .highlight-text {
      font-size: 3.75rem;
    }
    .social-category {
      font-size: 1.875rem;
    }
    .card-social-text {
      font-size: 1.125rem;
    }
  }
  &.card-outline-success{
		border: 1px solid theme-color("success");
	}
	&.card-outline-primary{
		border: 1px solid theme-color("primary");
	}
	&.card-outline-warning{
		border: 1px solid theme-color("warning");
	}
	&.card-outline-danger{
		border: 1px solid theme-color("danger");
	}
	&.card-rounded{
		@include border-radius(5px);
	}

	&.card-statistics {
    text-align: left;
    .card-body {
      padding: 4rem 2.6rem;
      @media (max-width: 991px) {
        padding: 4rem 1.5rem;
      }
      @media (min-width: 1700px) {
        padding: 5rem 2.6rem;
      }
    }
    p {
      line-height: .71;
    }
		.highlight-text {
      font-family: 'source-sans-pro-regular', sans-serif;
      font-size: 1.75rem;
      margin-bottom: .625rem;
      @media (max-width: 991px) {
        font-size: 1.2rem;
      }
      i {
        font-size: 2.5rem;
        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }
    }
	}
  &.card-count {
    .count-item-list {
      @include display-flex;
      @include flex-direction(row);
      @media (max-width: 991px) {
        display: block;
      }
      .count-item {
        @include display-flex;
        @include flex-direction(row);
        min-width: 50%;
        .count-item-title {
          i {
            color: theme-color(primary);
            font-size: 2.5rem;
            margin-right: 5px;
          }
          padding-right: 10px;
          border-right: 1px solid $border-color;
          @include display-flex;
          @include align-items(center);
        }
        .count-value {
          padding-left: 10px;
          p {
            font-size: 1.875rem;
          }
        }
        .count-item-title,
        .count-value {
          min-width: 50%;
        }
      }
    }
  }
  &.card-twitter,
  &.card-fb {
    color: color(white);
    .card-body {
      padding-top: 4rem;
      @media (min-width: 1700px) {
        padding-top: 6.5rem;
      }
    }
    .card-title {
      color: color(white);
      @include display-flex;
      @include align-items(center);
      i {
        font-size: 2.9375rem;
      }
    }
  }
  &.card-twitter {
    background: social-color(twitter);
  }
  &.card-fb {
    background: social-color(facebook);
  }
  &.card-weather {
    .weather-status {
      @include display-flex;
      @include flex-direction(row);
      @include align-items(center);
      margin-bottom: 1.875rem;
      i {
        font-size: 3.625rem;
        color: theme-color(secondary);
      }
      .highlight-text {
        font-size: 3.125rem;
        font-family: 'source-sans-pro-bold', sans-serif;
        .symbol {
          color: theme-color(secondary);
        }
      }
      .weather-date {
        @extend .ml-auto;
        p {
          margin-bottom: 0;
        }
      }
    }
    .weather-report {
      p {
        font-size: 1rem;
      }
    }
    .weather-timing {
      i {
        color: theme-color(secondary);
        font-size: 1.875rem;
      }
    }
  }
  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  &.card-circle-progress {
    color: $white;
    text-align: center;
  }
  &.card-review {
    .review-status {
      margin-bottom: 2.625rem;
      &:last-child {
        margin-bottom: 0;
      }
      .progress {
        h4 {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
