.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
	&:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: $white;
		left: 50%;
		margin-left: -1.5px;
	}
	li {
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: " ";
			display: table;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
		.timeline-panel {
			width: 50%;
			float: left;
			border-radius: 2px;
			padding: 20px;
			position: relative;
      background: $white;
      @include border-radius(6px);
			&:before {
				position: absolute;
				top: 26px;
				right: -15px;
				display: inline-block;
				border-top: 15px solid transparent;
				border-left: 15px solid $white;
				border-right: 0 solid $white;
				border-bottom: 15px solid transparent;
				content: " ";
			}
			&:after {
				position: absolute;
				top: 27px;
				right: -14px;
				display: inline-block;
				border-top: 14px solid transparent;
				border-left: 14px solid $white;
				border-right: 0 solid $white;
				border-bottom: 14px solid transparent;
				content: " ";
			}
		}
		&:not(.timeline-inverted) {
			&+li.timeline-inverted {
				margin-top: -60px;
			}
			padding-right: 90px;
		}
		.timeline-badge {
			color: theme-color(dark);
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 1.4em;
			text-align: center;
			position: absolute;
			top: 16px;
			left: 50%;
			margin-left: -25px;
			z-index: 100;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
      i{
        color:$white;
      }
		}
	}
	li.timeline-inverted {
		&+li {
			&:not(.timeline-inverted) {
				margin-top: -60px;
			}
		}
		padding-left: 90px;
		.timeline-panel {
			float: right;
			&:before {
				border-left-width: 0;
				border-right-width: 15px;
				left: -15px;
				right: auto;
			}
			&:after {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
		}
	}
}
.timeline-badge.primary {
	background: theme-color(primary);
}
.timeline-badge.success {
	background: theme-color(success);
}
.timeline-badge.warning {
	background: theme-color(warning);
}
.timeline-badge.danger {
	background: theme-color(danger);
}
.timeline-badge.info {
	background: theme-color(info);
}
.timeline-title {
	margin-top: 0;
	color: theme-color(dark);
}
.timeline-body {
	p {
		margin-bottom: 0;
		&+p {
			margin-top: 5px;
		}
	}
	ul {
		margin-bottom: 0;
	}
}
