@mixin no-ui-slider($color) {
  .noUi-base{
    .noUi-connect{
      background: $color;
    }
    .noUi-origin{
      background: $color;
      .noUi-handle{
        background: $color;
      }
    }
  }
}
