.page-detail {
    background-color: #000;
}
.page-detail .page-content {
    padding: 0 11rem;
}
.mobile-show {
    display: none;
}
.page-detail a.back:hover {
    color: #fff;
}
.page-detail a.back {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    font-family: Avenir-Heavy;
    position: fixed;
    top: 139px;
    left: 11rem;
    padding-left: 4px;
    z-index: 1;
}
.page-detail a.back:before {
    content: "\f104";
    display: inline-block;
    font: normal normal normal 2rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.9rem;
    font-size: 1.8rem;
    vertical-align: middle;
}
.page-detail .col-left {
    display: block !important
}
body.page-detail .page-content:after {
    content: '';
    display: block;
    clear: both;
}
.page-detail .detail-col-left {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-family: 'Avenir-Medium';
    font-weight: normal;
    width: 22.7%;
    position: fixed;
    /*top: 50%;
    transform: translateY(-50%);*/
    top: 170px;
    left: 11rem;
    z-index: 1;
}
.page-detail .detail-col-left .section .wrap {
    padding: 2.5rem 2rem 3rem 3.6rem;
    border-radius: 5px;
    /*background: rgb(13, 41, 34, 0.7);*/
    background: rgba(56, 164, 140, 0.27);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    /*height: 100%;*/
    /*overflow: auto;*/
}
.page-detail .detail-col-left .section ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.page-detail .detail-col-left .section ul li:last-child {
    margin-bottom: 0;
}
.page-detail .detail-col-left .section ul li {
    position: relative;
    padding-left: 2.3rem;
    margin-bottom: 1.45rem;
}
.page-detail .detail-col-left .section ul li:before {
    font-family: FontAwesome;
    content: "\f00c";
    display: block;
    position: absolute;
    top: 0px;
    left: 0
}
.page-detail .description {
    margin-top: auto;
}
.page-detail .description p:last-child {
    margin-bottom: 0;
}
.page-detail .imaging {
    font-size: 0;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page-detail .imaging a {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 0.15rem;
    line-height: 1.1;
    font-family: 'Courier';
    font-weight: normal;
     background: rgba(149, 203, 191, 0.27); 
    /*background: rgb(101, 143, 135, 0.53);*/
    -webkit-backdrop-filter: blur(4.2px);
    backdrop-filter: blur(4.2px);
    display: inline-block;
    padding: 18px 15px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 1.7rem 0 0;
    flex-basis: 31.57162534435262%;
}
.page-detail .detail-col-right .section-image .wrap {
    /*position: absolute;
    top: 170px;
    bottom: 57px;
    left: 0;
    right: 0;
    overflow: auto;*/
    display: flex;
    flex-direction: column;
}
.page-detail .detail-col-right .image {
    text-align: center;
    /*padding-left: 5rem;*/
    margin-bottom: 2.4rem;
    margin-top: auto;
}
.page-detail .detail-col-right .image img {
    max-width: 100%;
}
.page-detail .description {
    /*background: rgba(56, 164, 140, .27);*/
    background: rgba(149, 203, 191, 0.27);
    -webkit-backdrop-filter: blur(4.2px);
    backdrop-filter: blur(4.2px);
    padding: 20px 30px;
    border-radius: 5px;
    font-family: 'Avenir-Medium';
    letter-spacing: 0.5px;
}
.page-detail .detail-col-right h3.img-title {
    text-align: center;
    font-family: 'Courier';
    font-weight: bold;
    letter-spacing: 0.13rem;
    margin-bottom: 3.2rem;
}
.page-detail .detail-col-right {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.8;
    display: inline-block;
    width: 69.328%;
    padding-right: 6%;
    float: right;
}
.page-detail .detail-col-right .section-text .wrap {
    font-family: 'Avenir-Book';
    padding: 4.2rem 5.4rem;
    display: flex;
    flex-direction: column;
    padding: 4.2rem 5.4rem 4.7rem;
    background: rgba(0, 0, 0, 0.27);
    /*overflow: auto;*/
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 5px;
}
.page-detail .detail-col-right .section .wrap {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
}
.page-detail .detail-col-right .section-text .title {
    letter-spacing: 0.6px;
}
.page-detail .detail-col-right .section-text .content {
    margin-top: 26px;
    margin-bottom: 32px;
}
.page-detail .sl-overlay {
    /*opacity: 0.52;*/
}
.page-detail .detail-col-right .section-text .gallery {
    margin-top: auto;
    margin-bottom: -20px;
}
.page-detail .detail-col-right .gallery a {
    display: block;
    width: 11.92342857142857%;
    float: left;
    position: relative;
    margin-bottom: 20px;
    margin-right: 2.756%;
}
.page-detail .detail-col-right .gallery a:nth-child(7n) {
    margin-right: 0;
}
.page-detail .detail-col-right .gallery a img {
    max-width: 100%;
    display: block;
}
.page-detail .detail-col-right .gallery a span {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Avenir-Heavy';
    color: #fff;
}
.page-detail .detail-col-right .gallery a.to-gallery:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .65);
}
.page-detail .detail-col-right .section-text .fp-tableCell {
    overflow: hidden;
}
.page-detail .detail-col-right .fullpage-section .background {
    background: url(../assets/images/page-detail/bkg.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: top;
}
.page-detail.center-content .detail-col-left, .page-detail.center-content .detail-col-right .section .wrap, .page-detail.center-content .detail-col-left {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*low-height*/
.page-detail.low-height .description, .page-detail.low-height .detail-col-right .section-text .wrap, .page-detail.low-height .detail-col-left .section .wrap {
    padding: 15px;
}
.page-detail.low-height .detail-col-left .section ul li {
    margin-bottom: 10px;
}
.page-detail.low-height .detail-col-left .section ul li:last-child {
    margin-bottom: 0;
}
.page-detail.low-height .detail-col-right .section-text .content {
    margin: 10px 0;
}
.page-detail.low-height .detail-col-right .section-text .gallery {
    margin-bottom: -10px;
}
.page-detail.low-height .detail-col-right .gallery a {
    margin-bottom: 10px;
}
.page-detail.low-height a.back {
    top: 120px;
}
.page-detail.low-height .detail-col-right .section .wrap, .page-detail.low-height .detail-col-left {
    top: 150px;
}
@media screen and (min-width: 1280px) and (max-height: 764px), (min-width: 1280px) and (max-width: 1365px) {
    .page-detail .description, .page-detail .detail-col-right .section-text .wrap, .page-detail .detail-col-left .section .wrap {
        padding: 15px;
    }
    .page-detail .detail-col-left .section ul li {
        margin-bottom: 10px;
    }
    .page-detail .detail-col-left .section ul li:last-child {
        margin-bottom: 0;
    }
    .page-detail .detail-col-right .section-text .content {
        margin: 10px 0;
    }
    .page-detail .detail-col-right .section-text .gallery {
        margin-bottom: -10px;
    }
    .page-detail .detail-col-right .gallery a {
        margin-bottom: 10px;
    }
    .page-detail a.back {
        top: 120px;
    }
    .page-detail .detail-col-right .section .wrap, .page-detail .detail-col-left {
        top: 150px;
    }

    .page-detail.Radarsat-2 .detail-col-left {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1279px) {
    .mobile-show {
        display: block;
    }
    .desktop-show {
        display: none;
    }
    .page-detail .page-content {
        padding-top: 100px;
    }
    .page-detail .detail-col-right .section .wrap {
        position: static;
    }
    .page-detail {
        background-image: url(../images/teleos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .page-detail .detail-col-right {
        padding-right: 0;
    }
    .page-detail .detail-col-right .fullpage-section .background {
        display: none;
    }
    .page-detail .detail-col-right .section-image {
        margin-bottom: 7rem;
    }
    .page-detail .detail-col-right .image {
        padding-left: 0;
    }
    .page-detail .detail-col-left {
        position: static;
        float: left;
        width: 27%;
    }
    .page-detail a.back {
        position: static;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1024px) {
    .page-detail .detail-col-right, .page-detail .detail-col-left {
        width: 100%;
        float: left;
    }
    .page-detail .section {
        margin-bottom: 7rem;
    }
    .page-detail .detail-col-right .image {
        margin-bottom: 7rem;
    }
}
@media screen and (max-width: 768px) {
    .page-detail .imaging {
        flex-direction: column;
    }
    .page-detail .page-content {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .page-detail .detail-col-right .gallery a {
        width: 23.5%;
        margin-right: 2%;
    }
    .page-detail .detail-col-right .gallery a:nth-child(7n) {
        margin-right: 2%;
    }
    .page-detail .detail-col-right .gallery a:nth-child(4n) {
        margin-right: 0;
    }
    .page-detail h2.title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 480px) {
    .page-detail .detail-col-right .gallery a {
        width: 31%;
        margin-right: 3.5%;
    }
    .page-detail .detail-col-right .gallery a:nth-child(4n), .page-detail .detail-col-right .gallery a:nth-child(7n) {
        margin-right: 3.5%;
    }
    .page-detail .detail-col-right .gallery a:nth-child(3n) {
        margin-right: 0;
    }
    .page-detail .detail-col-left .section .wrap, .page-detail .detail-col-right .section-text .wrap {
        padding: 25px 20px;
    }
}