.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efefda;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6f0a14;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #a93133;
  color: white;
  padding: 10px 15px;
  border: none;
}
.line2{
	margin-top: 20px;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.top{
	margin-top: 20px;
}
.top50{
	margin-top: 50px;
}
.inline{
	display: inline-block;	
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right{
  float: right;
}
.header-right img{
	height: 50px;
}
.textcenter {
	margin-left: 42%;
	font-size: 30px;
}
.divAdd{
	padding: 30px;
}
.divAdd button{
	width: 80px;
	height: 50px;
}
.width300{
	width: 300px;
}
.profile{
	margin-top: 10%;
	height: 30%;
}
.loginname{
	margin: auto;
    font-size: 50px;
    font-weight: 500;
}
.areadis{
	margin-top: 10%;
	font-size: 35px;
}
.distributor ul, .distributorarea ul {
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.image {
	width: 200px !important;
	height: 140px !important;
}
.npdsale{
	margin: auto;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    color: #bd2130;
    font-weight: 700;
    margin-left: 21%;
}
.profiletext{
	margin: auto;
    width: 25%;
    font-size: 55px;
    color: #bd2130;
}
.btnsearch {
	color: white;
	background-color: #bd2130;
}
.hinfo {
	font-size: 50px;
    font-weight: 700;
}
.infodis {
	margin-top: 15%;
}
.textcolor{
	color: #bd2130;
}
.importbtn {
	margin-top: 20px;
	float: right;
}
.actionpa{
	margin-top:15px;
	margin-bottom: 15px;
}

hr {
	border-top: 2px solid black !important;
}
.bpb{
	font-size: 50px;
	font-weight: 800;
}
.text40 {
	font-size: 40px;
}
.text30 {
	font-size: 30px;
}
.top12 {
	padding-top: 12px;
}
.btnimport{
	margin-right: 20px;
}
.right{
	float: right;
}
.lidis{
	color: #bd2130;
	margin-top: 7px;
}
.lidis a{
	color: #bd2130 !important;
}

.headersale {
	margin-top: 25px;
}
.distributor{
	margin-top: 16%;
}

.searchusername .btnsearch{
	margin-left: 15px;
}
.left15{
	margin-left: 15px;
}
.autowidth{
	width: auto;
}
.btnAddDis{
	margin-top: 20px;
	margin-left: 20px;
}
.searchinfodis{
	margin-top: 30px;
	font-size: 30px;
}
.centertext {
	display: flex;
	justify-content: center;
	align-items: center;
}
.changepw{
	width: 60%;
    margin: auto;
    margin-top: 20px;
}
.bottom20{
	margin-bottom: 20px;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.filter{
	margin-top: 15px;
	margin-bottom: 15px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}