<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">

</head>
<body>
	<div class="header">
		<b class="textcolor text30">Quản lý dữ liệu</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}" />
		</div>
	</div>

	<div class="upload top">
		<form th:action="@{/admin/upload}" method=POST
			enctype="multipart/form-data">
			<div class="form-group form-inline">
				<div class="left15">
					<input type="text" class="form form-control autowidth" placeholder="Tên file ảnh" name = "code">
				</div>
				<div class="left15">
					<input type="file" name="fileimage" id="fileimage" class="form-control"
						required>
				</div>
				<div class="left15">
					<button id="upload" type="submit" class="btn btn-info btnimport"
						th:text="Upload"></button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="upload top50">
		<form th:action="@{/admin/import}" method=POST
			enctype="multipart/form-data">
			<div class="form-group form-inline">
				<div class="left15">
					<label>File excel sản phẩm: </label>
				</div>
				<div class="left15">
					<input type="file" name="file" id="file" class="form-control"
						required>
				</div>
				<div class="left15">
					<button id="import" type="submit" class="btn btn-info btnimport"
						th:text="Import"></button>
				</div>
			</div>
		</form>
	</div>
	

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>