<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Login</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">

</head>
<body>
	<div class="full-height">
		<div class = "loginform">
		<div class = "logoprime centertext">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
		<div class = "softwarename centertext">
			<span class = "npd">NEW DESIGN </span>
		</div>
		<form th:action="@{/login}" method=POST class="frlogin">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Your Account *"
					value="" name="username" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password"
					placeholder="Your Password *" value="" />
			</div>
			<div class="form-group">
				<input type="submit" class="btnLogin" value="Login" />
			</div>
		</form>
		</div>
	</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>