<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tracking New Design</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">

</head>
<body>
	<div class="header">
		<b class="textcolor text30">Tracking New Design</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}" />
		</div>
	</div>

	<div class="filter">
		<form th:action="@{/designer/search}" method=POST
				enctype="multipart/form-data">
		<input placeholder="Mẫu chọn từ" type="text" name ="fromdate" class="left15 autowidth form-control datepicker inline">
		<input placeholder="Đến ngày" type="text" name="todate" class="left15 autowidth form-control datepickerto inline">
		<select name="factory" class="left15 autowidth custom-select mr-sm-2">
			<option th:each="factory : ${filterFactory}" th:value="${factory}"
				th:text="${factory}"></option>
		</select>
		<select name="size" class="left15 autowidth custom-select mr-sm-2">
			<option th:each="size : ${filterSize}" th:value="${size}"
				th:text="${size}"></option>
		</select>
		<select name="technology" class="left15 autowidth custom-select mr-sm-2">
			<option th:each="technology : ${filterTechnology}" th:value="${technology}"
				th:text="${technology}"></option>
		</select>
		<select name="material" class="left15 autowidth custom-select mr-sm-2">
			<option th:each="material : ${filterMaterial}" th:value="${material}"
				th:text="${material}"></option>
		</select>
		<input type="text" class="left15 form form-control width300 description inline" name ="description" placeholder="Mô tả sản phẩm">
		<div class ="centertext top">
			<input type="submit" class="btn btn-info" value="Search">
		</div>
		</form>
	</div>

	<div class="table-responsive">
		<table id="tabledesign" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Hình ảnh</th>
					<th>Mã thí nghiệm</th>
					<th>Ngày chọn</th>
					<th>Mã sản xuất</th>
					<th>Ngày sản xuất</th>
					<th>Nhà máy</th>
					<th>Kích thước</th>
					<th>Công nghệ</th>
					<th>Chất liệu</th>
					<th>Mô tả sản phẩm</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="product : ${lsProducts}">
					<td >
						<img class="image" th:src="@{${'/assets/tiles/'+product.url}}">
					</td>
					<td data-th-text="${product.laborcode}" class="laborcode"></td>
					<td data-th-text="${#dates.format(product.selecteddate, 'yyyy/MM/dd')}" class="selecteddate"></td>
					<td data-th-text="${product.code}" class="code"></td>
					<td data-th-text="${#dates.format(product.productiondate, 'yyyy/MM/dd')}" class="productiondate"></td>
					<td data-th-text="${product.factory}" class="factory"></td>
					<td data-th-text="${product.size}" class="size"></td>
					<td data-th-text="${product.technology}" class="technology"></td>
					<td data-th-text="${product.material}" class="material"></td>
					<td data-th-text="${product.description}" class="description"></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>