.navbar {
  &.fixed-top {
    + .page-body-wrapper {
      padding-top: $navbar-height;
    }
  }
}

.sidebar-mini {
  @media (min-width: 992px) {
    .navbar {
      .navbar-brand-wrapper {
        width: $sidebar-width-mini;
      }
      .navbar-menu-wrapper {
        width: calc(100% - #{$sidebar-width-mini});
      }
    }
    .sidebar {
      width: $sidebar-width-mini;

      .nav {
        .nav-item {
          .nav-link {
            display: block;
            text-align: center;
            padding: 0.8em 2.5em;

            .menu-title {
              display: block;
            }
            i {
              &:last-child {
                display: none;
              }
            }
            &[data-toggle="collapse"] {
              .menu-title {
                  &:after {
                      content: "\F142";
                      font: normal normal normal 24px/1 "Material Design Icons";
                      position: absolute;
                      right: 10px;
                      font-size: 0.7rem;
                  }
              }
            }
          }
          &.nav-category {
            display: none;
          }
        }
        &.sub-menu {
          padding: 0 .5rem;
          .nav-item {
            .nav-link {
              padding: .5rem 0;
            }
          }
        }
      }
    }

    .content-wrapper,
    .footer {
      margin-left: $sidebar-width-mini;
      width: calc(100% - #{$sidebar-width-mini});
      @at-root #{selector-append(".rtl", &)} {
        margin-left: 0;
        margin-right: $sidebar-width-mini;
      }
    }
  }
}

.sidebar-icon-only {
  &:not(.sidebar-expanded) {
    @media (min-width: 992px) {
      .navbar {
        .navbar-brand-wrapper {
          width: $sidebar-width-icon;
          .brand-logo {
            display: none;
          }
          .brand-logo-mini {
            display: inline-block;
          }
        }
        .navbar-menu-wrapper {
          width: calc(100% - #{$sidebar-width-icon});
        }
      }
      .sidebar {
        width: $sidebar-width-icon;
        .nav {
          overflow: visible;
          .nav-item {
            position: relative;
            .nav-link {
              display: block;
              padding: .6em 1.5em;
              text-align: center;
              .menu-title {
                display: none;
              }
              i {
                &:last-child {
                  display: none;
                }
              }
            }
            &.nav-profile {
              display: none;
            }
            &.nav-category {
              display: none;
            }
            .collapse {
              display: none;
            }
            &.hover-open {
              .nav-link {
                .menu-title {
                  padding: .5rem 2rem;
                  background: theme-color(primary);
                  color: color(white);
                  display: inline-block;
                  left: $sidebar-width-icon;
                  position: absolute;
                  text-align: left;
                  top: 0;
                  width: $sidebar-width-lg;
                  z-index: 1;
                  height: 47px;
                  line-height: 2;
                  @at-root #{selector-append(".rtl", &)} {
                      left: auto;
                      right: $sidebar-width-icon;
                  }
                  &:after {
                    display: none;
                  }
                }
              }
              .collapse,
              .collapsing {
                display: block;
                background: color(white);
                border: 1px solid $border-color;
                position: absolute;
                top: 47px;
                left: calc(15px + #{$sidebar-width-icon});
                width: calc(#{$sidebar-width-lg - 15px});
                @at-root #{selector-append(".rtl", &)} {
                  left: auto;
                  right: calc(15px + #{$sidebar-width-icon});
                }
              }
            }
          }
          &.sub-menu {
            .nav-item {
              .nav-link {
                padding: .5rem 0;
                text-align: left;
              }
            }
          }
        }
      }

      .content-wrapper,
      .footer {
        margin-left: $sidebar-width-icon;
        width: calc(100% - #{$sidebar-width-icon});
        @at-root #{selector-append(".rtl", &)} {
          margin-left: 0;
          margin-right: $sidebar-width-icon;
        }
      }
    }
  }
}

.sidebar-hidden {
  @media (min-width: 992px) {
    .sidebar {
      @include sidebar-toggle-animation();
      width: 0;
    }

    .content-wrapper,
    .footer {
      margin-left: 0;
      width: 100%;
      @at-root #{selector-append(".rtl", &)} {
        margin-right: 0;
      }
    }
  }
}

.sidebar-absolute {
  @media (min-width: 992px) {
    &:not(.sidebar-hidden) {
      .sidebar {
        -webkit-box-shadow: 0px 0px 3px 1px #a7a3a3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0px 0px 3px 1px #a7a3a3;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0px 0px 3px 1px #a7a3a3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      }
    }

    .content-wrapper,
    .footer {
      margin-left: 0;
      width: 100%;
      @at-root #{selector-append(".rtl", &)} {
        margin-right: 0;
      }
    }
  }
}

.horizontal-menu {
  .navbar-toggler {
    &[data-toggle="minimize"],
    &[data-toggle="toggleSidebarDisplay"] {
      display: none;
    }
  }
  .content-wrapper,
  .footer {
    margin-left: 0;
    width: 100%;
    @at-root #{selector-append(".rtl", &)} {
      margin-right: 0;
    }
  }

  .content-wrapper {
    padding-top: 6rem;
  }
  .sidebar{
    background: $horizontal-menu-bg;
    padding: 0;
    .nav{
      border-bottom: 1px solid $border-color;
      .nav-item{
        .collapse,
        .collapsing {
          background: $white;
          position: absolute;
          border-top: 1px solid $content-bg;
          .nav {
            padding: 1rem;
          }
        }

        .collapsing {
          transition: none;
        }
        .nav-link {
          display: block;
          color: theme-color(dark);
          margin-bottom: 0;
          transition: 0.4s color ease;
          -webkit-transition: 0.4s color ease;
          i {
            &.menu-icon {
              display: block;
              margin-right: 0;
              width: auto;
            }
            &.menu-arrow {
              display: none;
            }
          }
          &:hover {
            color: theme-color(dark);
          }
        }
        .mega-menu{
          @extend .card-body;
          position: absolute;
          left: 0;
          right: 0;
          border-top: 1px solid $border-color;
          background: #fff;
          display: none;
          @media (max-width: 992px) {
            position: relative;
          }
          .list-group{
            list-style-type: none;
            .nav-item{
              display: block;
              padding: 5px 12px;
              font-size: .9rem;
              .nav-link{
                white-space: nowrap;
                @extend %ellipsor;
                padding: 0;
                text-align: left;
              }
              &.nav-category {
                font-size: .8rem;
                color: color(black);
                font-family: 'open-sans-bold', sans-serif;
              }
            }
            &.list-group{
              @extend .col-lg-2;
              @extend .col-md-2;
              @extend .col-sm-4;
              @extend .col-12;
              padding-left: 3rem;
              &:first-child{
                padding-left: 0;
              }
            }
          }
        }
        &.expanded{
          .mega-menu{
            @extend .d-flex;
            @extend .justify-content-start;
            @media (max-width: 992px) {
              display: block !important;
              padding: 0;
              .list-group{
                padding-left: 0;
                li{
                  display:block;
                }
              }
            }
          }
        }
      }
      >.nav-item {
        border-right: 1px solid $border-color;
      }
    }
    @media (min-width: 992px) {
        position: fixed;
        width: 100%;
        min-height: auto;
        .nav {
          @include display-flex;
          @include flex-direction(row);
          .nav-item {
            .nav-link {
              border-left: 0;
            }
          }
        }
    }
    @media (max-width: 991px){
      z-index: 1;
      .nav {
        .nav-item {
          .nav-link {
            padding: 1rem 0.5rem;
          }
          .mega-menu  {
            .list-group {
              .nav-item {
                .nav-link {
                  padding: 0.5rem;
                }
                &.nav-category {
                  .nav-link {
                    padding: 0.5rem 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-fixed {
  .sidebar {
    @media(min-width: 992px) {
      position: fixed;
    }

    .nav {
      max-height: calc(100vh - #{$navbar-height});
      overflow: auto;
      position: relative;
      &.sub-menu {
        max-height: none;
      }
    }
  }
}


.boxed-layout {
  @media (min-width: 992px) {
    .container-scroller {
      background: color(gray);
      padding: 0 (100% - $boxed-container-width) / 2;
    }
    .navbar {
      &.fixed-top {
        margin: auto;
        width: $boxed-container-width;
      }
    }
    &.horizontal-menu {
      .sidebar {
        margin: auto;
        width: $boxed-container-width;
      }
    }
  }
}

.rtl {
  direction: rtl;
  .content-wrapper {
    margin-left: 0;
    margin-right: $sidebar-width-lg;
    @media (max-width: 991px) {
      margin-right: 0;
    }
  }
  .sidebar {
    .nav {
      padding-right: 0;
      .nav-item {
        .nav-link {
          i {
            &:first-child {
              margin-right: 0;
              margin-left: .5em;
            }
            &.flaticon-arrows {
              @include rotate (180);
            }
            &:last-child {
              margin-left: 0;
              margin-right: .5em;
            }
          }
        }
      }
      &.sub-menu {
        padding-left: 0;
        padding-right: 2.5em;
      }
    }
  }
  .navbar {
    .navbar-menu-wrapper {
      padding-right: 0;
      padding-left: 30px;
      .navbar-toggler {
        border-radius: 100% 0 0 100%;
        @extend .mr-0;
        @extend .ml-1;
      }
    }
  }
  .footer {
    margin-left: 0;
    margin-right: $sidebar-width-lg;
    @media (max-width: 991px) {
      margin-right: 0;
    }
  }

  @at-root body#{&},
  div,
  ul{
    &::-webkit-scrollbar {
        width: .5em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }
}
